.red{
    /* color: red; */
    color: rgb(255,0, 0);
}
.h1{
    color: navy;
    background-color: lightgray;
}

div.light{
    background: hsl(240, 100%, 80%);
    color: white;
}
div.dark{
    background: hsl(240, 100%, 20%);
    color: white;
}
div.red{
    background: hsl(0 100% 50% / 0.5);
    color: white;
}
div.linear-gradient{
    background: linear-gradient(to right, red, blue);
    height: 40vh;
}

div.linear-gradient1{
    background: linear-gradient(450deg, rgb(92, 221, 141), blue);
    height: 40vh;
}
.multi-color-gradient {
  background: linear-gradient(to right, red, yellow, blue);
  height: 40vh;
}