body{
    background:#f4f4f4;
}
.color-box{
    width:100px;
    height: 100px;
    margin: 5px;
}

.color1{
    background-color: #FF053B;
}
.color2{
    background-color: rgb(125,204,20);
}
.color3{
    background: cyan;
}
.color4{
    background-color: hsl(240, 100% , 80%);
}
.color5{
    background: hsl(255, 100% , 0%);
}