body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #fdfdfd;
    color: #333;
}
.section{
    margin-bottom: 40px;
}
.big-heading{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
}
.paragrapgh{
    font-size: 16px;
    max-width: 600px;
    line-height: 1.6;
}

.container{
    max-width: 1200px;
    margin: 0px auto;

}
.banner{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0px auto 20px auto;
    border-radius: 8px;
}
.content{
    max-width:600px;
    margin: 0px auto;
    font-size: 16px;
    line-height: 1.6;
}

@media (max-width: 600px) {
    .banner {
      max-width: 90%;
    }

    .content {
      font-size: 15px;
    }
  }


  .navbar{
    background: #004080;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
  }
  .nav-link{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 4px;

  }
  .nav-link:hover{
    background: #0059b3;
  }

  @media (max-width:600px){
    .nav-link{
        font-size:20px;
        padding: 14px 18px;
    }
  }