*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     flex-direction: column;
     gap: 20px;
}

form{
    padding: 30px;
    border: 2px solid gray;
    max-width: 600px;
    font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  border-radius: 10px;

}

.inputContainer label{
    width: 120px;
    flex-shrink: 0;
}
.inputContainer{
    display: flex;
    margin: 10px;
    align-items: center;

}

input,select{
    width: 100%;
    padding: 10px;
    height: 42px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #333;
    cursor: pointer;
}

#submit{
    /* align-self: flex-start; */
    padding: 12px 12px;
    background-color: rgb(68, 136, 224);
    color: white;
    border-radius: 5px;
    border: none;
    margin: 24px 15px;
    cursor: pointer;
}
