body{
    background-color: #f0f0f0;
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
.game-control{
    max-width: 400px;
    background-color: white;
    padding:2rem;
    margin:10px auto;
    border-radius: 5px;
    width: 600px;
    text-align: left;
}
h1{
    text-align: center;
}
label{
    display: block;
    margin: 8px auto;
    cursor: pointer;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 5px;
    appearance: none;
    border: 2px solid #daad09;
    vertical-align: middle;
}
input[type="checkbox"]:checked{
    border: 2px solid #daad09;
    background-color: #daad09;
}
input[type="checkbox"]:checked::after{
    content:"";
    width:10px;
    height: 4px;
    position: absolute;
    border: solid white;
    top: 3px;
    left:1px;
    right: 1;
    margin: auto;
    border-width: 2px 2px 0px 0px;
    transform: rotate(120deg);
}